@tailwind base;
@tailwind components;
@tailwind utilities;

.state-effects {
  @apply transition hover:scale-105 focus:scale-105 active:scale-[1.02];
}

* {
  scrollbar-width: none;
}

/* swiper */
.mySwiper {
  height: 100vh; /* Ensure it takes full viewport height */
}

.swiper-slide {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
